.body {
    text-align: center;

}
.cloud {
    display: inline-block;
    width: 200px;
    height: 200px;
}

.setting {
    display: inline-block;
    width: 100px;
}

.label {
    font-size: 14pt;
}
