.body {
    text-align: center;
}

#infopanel {
  width:350px;
  border-style:solid;
  margin: 10px;
  margin-right : 390px;
  padding-left: 10px;
  padding-right: 10px;
}

.header {
  display:inline-block;
  vertical-align: top;
}

.slider {
  width: 100px
}

.setting {
    display: inline-block;
    width: auto;
    margin: 5px;
}

#seedinput {
 height: 30px; 
 font-size: 20pt;
}

.tooltip {
  color: #707070;
  font-size: 12pt;
}

.controlpanel {
  border-style: solid;
  margin: 10px;
  margin-top: 40px;
  padding: 10px;
  /* width: 800px; */
  display:inline-block;
}

.addtopic {
}

.control{
  display: inline-block;
  width: auto; 
  margin: 5px;
  vertical-align: top;
}

.label {
    font-size: 14pt;
    margin-left:auto;
    margin-right:auto;
}

#update_metric {
  width: 480px;
  margin-left:auto;
  margin-right:auto;

}

#update_metric .label {
  display: block;
  width: 480px;
  margin-left: 220px;
  margin-top: -20px;
}

/* Word cloud */

#word_clouds {
  width: auto;
}

#word_clouds .topic {
  width: 400px;
  height: auto;
  /* float: left; */
  display: inline-block;
  border-style:solid;
  border-color:#707070;
  border-width:4px;
  margin-right: 10px;
  margin-top: 10px;
}

#word_clouds .word {
  display: inline-block;
  padding-left: 10px;
  font: bold 24px monospace;
}

.enter {
  color: #669933;
}
.update {
  color: #0066CC;
}
.exit {
  color: #FF9933;
}

.locked {
  color: #FF0066;
}

/* SVG related */
svg {
  font: 10px sans-serif;
}

.legend {
  border-style: solid;
  border-width: 2px;
  width:120px;
  height:40px;
  padding-left: 5px;
  margin-left: 340px;
  margin-top: -150px;
}
.legendlabel {
  display: inline-block;
}

.legend .matlab {
  display: inline-block;
  width: 50px;
  height: 3px;
  background-color: #000;
}

.legend .graphlab {
  display: inline-block;
  width: 50px;
  height: 3px;
  background-color: #f00;
}

.x.axis line {
  shape-rendering: auto;
}

.line {
  fill: none;
  stroke: #000;
  /* stroke-dasharray: 5,3; */
  stroke-width: 1.5px;
}

.line2 {
  fill: none;
  stroke: #f00;
  stroke-width: 1.5px;
}

.axis path, .axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}
